doctype html
html
	head
		title="pug"
	body
		h1.header Log in
		form(action='/logged')
			input(type='text', name='account', placeholder='Your e-mail adress')
			br
			input(type='text', name='password', placeholder='Password') 
			br
			input(type='submit')
